<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Quiz</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/start_quiz.css') }}"
    />
</head>
<body>
    <div class="content">
        <h1>Take A Short Quiz!</h1>
        <p>This comprehensive test allows you to assess your knowledge and skills in the field of exoplanet studies, identifying your strengths and weaknesses and recommending a personalized content for you.</p>
    </div>
    
    <a href="/quiz"><button class="btn">Take Quiz</button></a>
 
</body>
</html>